resources/gradethree/GradeThreeMath.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="GradeThreeMathService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
    <xs:schema>
			<xs:import namespace="http://tempuri.org/" schemaLocation="Math.xsd"/>
		</xs:schema>
  </wsdl:types>
  <wsdl:message name="AdditionResponse">
    <wsdl:part name="AdditionRS" element="tns:AdditionResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="AdditionRequest">
    <wsdl:part name="AdditionRQ" element="tns:AdditionRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="DevisionResponse">
    <wsdl:part name="DevisionRS" element="tns:DevisionResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="DevisionRequest">
    <wsdl:part name="DevisionRQ" element="tns:DevisionRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="GradeThreeMathPortType">
    <wsdl:operation name="Addition">
      <wsdl:input message="tns:AdditionRequest">
    </wsdl:input>
      <wsdl:output message="tns:AdditionResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Devision">
      <wsdl:input message="tns:DevisionRequest">
    </wsdl:input>
      <wsdl:output message="tns:DevisionResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="GradeThreeMathBinding" type="tns:GradeThreeMathPortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="Addition">
      <soap:operation soapAction="Addition" style="document"/>
      <wsdl:input>
        <mime:content part="Addition" type="text/xml; charset=utf-8"/>
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Addition" type="text/xml; charset=utf-8"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Devision">
      <soap:operation soapAction="Devision" style="document"/>
      <wsdl:input>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="GradeThreeMath">
    <wsdl:port name="GradeThreeMathPort" binding="tns:GradeThreeMathBinding">
      <soap:address location="http://localhost:8081/axis2/services/GradeThreeMath"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
